html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: rgb(241, 226, 180);
    font-family: Helvetica, sans-serif;
}

#title-text {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 100px 0 0;
}

#title-text img {
    width: 900px;
}

#battleground {
    height: 400px;
    padding: 40px 0 0;
    display: flex;
    justify-content: center;
}

#hand-left-space img{
    height: 300px;
    width: 480px;
}

#hand-right-space img{
    height: 300px;
    width: 480px;
    transform: scaleX(-1);
}

#vs {
    font-size: 300px;
    font-weight: bolder;
    color:#6da4a9;    
    justify-content: center;
    align-content: center;
    margin: 0 -140px;
}

#selection-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    transition: all 400ms;
    font-size: larger;
    font-weight: bolder;
    color: rgb(183, 155, 106);
    border: 0;
    border-radius: 10px;
    background-color: #fff6de;
    box-shadow: 0 15px 0 rgb(200, 190, 154), /* */
                0 15px 1px 2px rgb(101, 77, 36),
                10px 10px 30px rgb(179, 144, 69),
                10px 10px 10px rgb(130, 95, 53);
    height: 50px;
    width: 160px;
    margin: 0 10px;
}

button:hover {
    transition: all 200ms;
    font-size: larger;
    font-weight: bolder;
    color: rgb(44, 85, 142);
    border: 0;
    border-radius: 10px;
    background-color: #fff6de;
    box-shadow: 0 5px 0 rgb(9, 92, 160),
                0 5px 0 2px rgb(0, 0, 0),
                5px 5px 10px rgb(130, 95, 53);
    height: 50px;
    width: 160px;
    margin: 0 10px 0;
    margin-top: 10px;
}
